html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  background: #111;
}

/* кнопки */
.controls {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
}