body {
  margin: 0;
  background: #111;
  overflow: hidden;
}

canvas {
  background: #222;
  display: block;
}

.controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  width: 80px;
  height: 80px;
  font-size: 30px;
  border-radius: 50%;
}
